/* body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f4f4f4; */
    /* margin: 0; */
    /* padding: 0; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
/* } */

/* .container {
    text-align: center;
} */

.name-with-options {
    position: relative;
    display: inline-block;
}

.draggable-name {
    font-size: 24px;
    /* font-weight: bold; */
    /* color: #007BFF; */
    cursor: pointer;
    /* padding: 10px; */
    /* border: 2px dashed #007BFF; */
    /* border-radius: 5px; */
    /* display: inline-block; */
}

.draggable-name:hover {
    /* background-color: #f0f8ff; Light blue background on hover */
    color: red;
}

.options-menu {
    display: none;
    position: absolute;
    /* top: 100%; Position below the name */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 4px solid #f01c1c;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    margin-top: 10px;
}

.name-with-options:hover .options-menu {
    display: block; /* Show options on hover */
}

.options-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-menu li {
    margin: 10px 0;
}

.options-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.options-menu a:hover {
    color: #007BFF;
}